.home-container {
  background-color: rgba(38, 42, 65, 1.0);
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 1fr;
  overflow-y: hidden;
}

.transitionShow {
  transition: 500ms;
  opacity: 1;
}
.transitionHide {
  transition: 500ms;
  opacity: 0.5;
}