div.infos-container {
  padding: 110px 170px;
}

div.infos-container h2 {
  color: rgba(255, 255, 255, 1.0);
  font-size: 35px;
  font-weight: 400;
}

div.infos-container h4 {
  color: rgba(168, 168, 168, 1.0);
  font-size: 17px;
  font-weight: 400;
  line-height: 1.8;
}
div.infos-container h4 span {
  font-size: 15px;
  margin-left: 5px;
  color: rgba(255, 255, 255, 0.4);
}

div.infos-container form {
  width: 100%;
  margin-top: 20px;
  margin-bottom: 50px;
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 15px;
  padding-left: 15px;
}
div.infos-container form svg {
  font-size: 17px;
  color: white;
}
div.infos-container form input {
  width: 100%;
  padding: 15px;
  border: none;
  font-size: 16px;
  color: rgba(255, 255, 255, 1.0);
  background-color: transparent;
}
div.infos-container form input:focus {
  outline: none;
}
div.infos-container form input::placeholder {
  color: rgba(255, 255, 255, 1.0);
}

section.projects h4 {
  color: rgba(255, 255, 255, 1.0);
  margin-bottom: 15px;
}
section.projects div.cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 40px 20px;
}

section.projects div.card-project {
  display: flex;
  flex-direction: column;
  align-items: center;
}

section.projects div.card-project div.card {
  border: 2px solid transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  height: 100px;
  width: 100px;
  margin-bottom: 15px;
  color: rgba(255, 255, 255, 1.0);
}
section.projects div.card-project div.card:hover {
  border: 2px solid rgba(255, 255, 255, 1.0);
}

section.projects div.card-project div.card div {
  height: 85px;
  width: 85px;
  background-color: rosybrown;
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 22px;
  font-weight: 700;
}

section.projects div.card-project p.project-name {
  font-size: 13px;
  color: rgba(255, 255, 255, .7);
  font-weight: 400;
}

div.extra-card div.card{
  border: none !important;
}
div.extra-card div.card div {
  background-color: rgba(255, 255, 255, .1) !important;
}